@media only screen and (max-width: 1000px) {
    .modal-content{
       background-color: #3b4652;
       opacity: .90;
       padding:18px 18px;
       box-shadow: 0px 0px 3px #848484;
   } 
   }
   
   @keyframes bgcolor {
       0% {
           background-color: #45a3e5
       }
   
       30% {
           background-color: #66bf39
       }
   
       60% {
           background-color: #eb670f
       }
   
       90% {
           background-color: #f35
       }
   
       100% {
           background-color: #864cbf
       }
   }
   
   body {
       -webkit-animation: bgcolor 20s infinite;
       animation: bgcolor 10s infinite;
       -webkit-animation-direction: alternate;
       animation-direction: alternate;
   }
   
   .text-center{
       margin-top:30px;
   }
   
   #grup{
       margin-top:50px;
   }
   .col-12{
    background: #3d4046;
    padding: 20px;
   }