.form-container{
    margin-top:100px;
    
 }
 .btn-primary-outline {
   background-color: transparent;
   border-color:#9a9ea5;
 }
 
 
 
 @keyframes bgcolor {
     0% {
         background-color: #45a3e5
     }
 
     30% {
         background-color: #66bf39
     }
 
     60% {
         background-color: #eb670f
     }
 
     90% {
         background-color: #f35
     }
 
     100% {
         background-color: #864cbf
     }
 }
 
 body {
     -webkit-animation: bgcolor 20s infinite;
     animation: bgcolor 10s infinite;
     -webkit-animation-direction: alternate;
     animation-direction: alternate;
 }
 
 #icon1::before{
     font-family:'Font Awesome\ 5 Free';
     content:'\f007';
     
 }
 
 #icon2::before{
  font-family:'Font Awesome\ 5 Free';
  content:'\f0e0';
  position:absolute;
  font-size:16px;
  left:28px;
  padding-top:4px;
 }
 
 #icon3::before{
  font-family:'Font Awesome\ 5 Free';
  content:'\f023';
  position:absolute;
  font-size:16px;
  left:28px;
  padding-top:4px;
 }
 #icon4::before{
  font-family:'Font Awesome\ 5 Free';
  content:'\f3c5';
  position:absolute;
  font-size:16px;
  left:28px;
  padding-top:4px;
 }
 #icon5::before{
  font-family:'Font Awesome\ 5 Free';
  content:'\f1fd';
  
 }
 
 input{
    background: rgba(255,255,255,0.4);
   border: none;
 }

 h1,p{
    text-align: center;
 }
 input{
   padding-left:30px;
 }